footer.site-footer {
    .contact-info {
        background-color: $green;
        color: white;
        padding: 2rem 0;
    }

    .site-menu {
        background-color: $blue-dk;
        color: white;
        padding: 4rem 0;
    }
}