header.site-header {

    @media (max-width: 576px) {
        .col-sm-4 {
            flex: 0 0 33.33333333%;
            max-width: 33.33333333%;
        }
        .col-sm-8 {
            flex: 0 0 66.66666666%;
            max-width: 66.66666666%;
        }
    }

    /** Logo */
    .logo-container {
        display: flex;
        align-items: center;
    }

    /** Utility Nav */
    .navbar-utility {
        .nav {
            .menu-item {
                padding-left: 15px;
                padding-right: 15px;
                &:last-of-type { padding-right: 0; }

                a {}
            }
        }
    }

     /** Main Nav */
     .navbar-main {
        display: flex;
        justify-content: end;

        .nav {
            .menu-item {
                padding-left: 15px;
                padding-right: 15px;
                &:last-of-type { padding-right: 0; }

                a { font-size: 18px; }
            }
        }
    }

    /** Hamburger Nav */
    .hamburger {}

    .close-sidebar { 
        display: none; 

        padding: 15px;
        cursor: pointer;
        transition-property: opacity,filter;
        transition-duration: .15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
    }
}

/** Off-Canvas Nav */
.offcanvas {
    width: 280px; 
    height: 100%;
    position: fixed; 
    z-index: 1;
    top: 0;
    right: -280px;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.135s;

    background-color: silver;
}