@mixin button-default {
	color: white;
	text-decoration: none;
	border: 0;
	border-radius: 0;
	padding: 0.5rem 2.5rem;
	font-size: 1.25rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin: 0.5rem 0;
    cursor: pointer;

    // States
	&:hover, &:focus, &:active {}

	// Mobile Only
	@media only screen and (max-width: $break-small) {}
}

@mixin button-style($color) {
	background: $color;
	border: 0;

	&:hover, &:focus, &:active, &:not([href]):not([tabindex]) {
		background: darken($color,3%);
		color: white;
	}
}

.btn {
	@include button-default;
	white-space: inherit;
	
	&.btn-lg {
		padding: 0.85rem 2.75rem;
		font-size: 1.65rem;
	}

	&.btn-default,
	&.btn-primary {
		@include button-style($blue);
	}
	&.btn-secondary {
		@include button-style($red);
	}
    
	&-xs-block,
	&-sm-block {
		@media only screen and (max-width: $break-small) {
			display: block;
			width: 100%;
		}
    }
}