// Colors
$base-color:    #414042;

$red:           #ef3f37;
$yellow:        #faae41;
$blue:          #5488a4;
$green:         #9dc07f;

$gray-lt:       #d7d7d7;
$gray-md:       #818181;
$gray-dk:       #414042;