// Colors
$base-color:    #414042;

$red:           #ef402c;
$yellow:        #faae41;
$blue:          #4d9abe;
$blue-dk:       #02376f;
$blue-lt:       #e6faff;
$green:         #87a090;

$gray-lt:       #f7f7f7;
$gray-md:       darken(#f7f7f7, 20%);
$gray-dk:       #414042;