/** FONTS **/

@import url('https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap');
$font-stack-barlow:  'Barlow', sans-serif;

// @font-face {
//     font-family: 'altairbold';
//     src: url('../../assets/font/altair/altair-bold-trial-webfont.woff2') format('woff2'),
//          url('../../assets/font/altair/altair-bold-trial-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// $font-stack-altbold: 'altairbold', 'Impact', "Arial Black", sans-serif;

/** HEADLINES **/
h1,h2,h3,h4,h5 {
    font-family: $font-stack-barlow;
    font-weight: 700;

    .marker {
        color: $red;
    }
}
h1, .h1 { 
    font-size: 3.5rem; 
    color: $blue-dk;
}
h2, .h2 { 
    font-size: 2.75rem; 
    color: $blue-dk;
}
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }


body {
	font-family: $font-stack-barlow;
}

.fl-rich-text {
    line-height: 1.6;
    font-size: 1.125rem;
}