/** FONTS **/

//@import url('https://fonts.googleapis.com/css?family=Montserrat');
//$font-stack-mont:  'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;


//@font-face {
//  font-family: 'Goshen';
//  src: 	url('../../assets/fonts/goshen.woff2') format('woff2'), /* Super Modern Browsers */
//		url('../../assets/fonts/goshen.woff') format('woff'), /* Pretty Modern Browsers */
//		url('../fonts/nevis.ttf')  format('truetype'); /* Safari, Android, iOS */
//}
//$font-stack-goshen: 'Goshen', 'Impact', "Arial Black", sans-serif;

/** HEADLINES **/
h1,h2,h3,h4,h5 {}
h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }


body {
	//font-family: $font-stack-mont;
}

.fl-rich-text {
	//line-height: 1.8;
}